[submodule ".gopath/src/polydawn.net/pogo"]
	path = .gopath/src/polydawn.net/pogo
	url = https://github.com/polydawn/pogo.git
[submodule ".gopath/src/github.com/jessevdk/go-flags"]
	path = .gopath/src/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags.git
[submodule ".gopath/src/github.com/coocood/assrt"]
	path = .gopath/src/github.com/coocood/assrt
	url = https://github.com/coocood/assrt.git
[submodule ".gopath/src/github.com/BurntSushi/toml"]
	path = .gopath/src/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
